# .gitignore
.env
__pycache__/
*.pyc
.DS_Store

# Ignore virtual environment
venv/

# Ignore Docker and Terraform related files
*.tfstate
*.tfstate.backup
.terraform/

# Ignore logs and temp files
*.log
*.tmp

# ignore visualizations
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff

# ignore ml model files
*.pkl
*.joblib
*.pickle
*.pickle.gz
*.pickle.bz2

# Ignore Kubernetes related files
k8s/
